<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>

    <div class="header">
        <p id="title">Guess What!?!</p>
        <p id="guessCounter"> This is where the number of guesses left goes.{{ guesses }} </p>
    </div>

    <div class="main">
        <p id="welcome">Guess the word!</p>
        {{#wordLetters}}
        <div class="letterBoxs">
            {{#wLetters}}
            <div class="letter">
                <h1>{{.}}</h1>
            </div>
            {{/wLetters}}
        </div>
        {{/wordLetters}}

        <div class="guess">
            <form action="/" method="POST">
                <label for="letter">Guess a letter: </label> <input type="text" name="letter" size="1" maxlength="1"> <input type="submit" name="submit" value="submit" placeholder="Make a guess!">
            </form>
        </div>

        <div class="letGuess">
            <p>Letters guessed:</p>
            <div class="letPick"></div>
            <div class="letPick"></div>
            <div class="letPick"></div>
            <div class="letPick"></div>
            <div class="letPick"></div>
            <div class="letPick"></div>
            <div class="letPick"></div>
        </div>
    </div>

</body>

</html>