<!DOCTYPE html>
<html lang="en">

<head>
    <title>Guess the Word!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    {{#tags}}
    <div class="header">
        <p id="title">Guess What!?!</p>
        <p id="guessCounter"> Number of guesses left: {{ gameLife }} </p>
    </div>

    <div class="main">
        <p id="welcome">Guess the word!</p>

        <div class="letterBoxs">
            {{#guessWord}}
            <div class="letter">
                <h1>{{.}}</h1>
            </div>
            {{/guessWord}}
        </div>

        <div class="guess">
            {{#gameWin}}{{#gameLose}}
            <form action="/" method="POST">
                <label for="letter">Guess a letter: </label> <input type="text" name="letter" size="1" maxlength="1"> <button type="submit" name="submit">maybe?</button>
            </form>
            {{/gameLose}}{{/gameWin}} {{^gameWin}}
            <label>You Won!</label> <button type="submit" name="again">Try Again!</button> {{/gameWin}} {{^gameLose}}
            <label>You LOSER!</label> <button type="submit" name="again">Try Again!</button> {{/gameLose}}
        </div>

        <div class="letGuess">
            <p>Letters guessed:</p>
            {{#lettersBucket}}
            <div class="letPick">{{.}}</div>
            {{/lettersBucket}}
        </div>
    </div>
    {{/tags}}
</body>

</html>